.card-title,
.card-weekly {
    background: #0D0D0D;
}

.card-title {
    margin-bottom: -20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    box-shadow: inset 0px 4px 0px #00000040;
}

.card-weekly {
    border-radius: 0 0 30px 30px;
}

@media only screen and (min-width: 0px) and (max-width: 412px) {

}

@media only screen and (min-width: 0px) and (max-width: 390px) {

}


@media (min-width: 768px) {
  .employee-card {
    flex-direction: column;
  }

  .card-number {
    top: 8px;
    right: 8px;
    padding: 3px;
  }

  .label-container {
    margin-bottom: 6px;
  }
}
