.main-container {
    position: relative;
}

.navbar {
    background: #0D0D0D;
    width: 300px;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3rem;
    justify-content: space-evenly;
}

.navbar a {
    font-size: 1.7rem;
    color: #36A54680;
}


@media only screen and (max-width: 412px) {
    .navbar {
        width: 80%; 
        padding: 0.5rem 1rem;
    }

    .navbar a {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 390px) {
    .navbar {
        width: 70%; 
        padding: 0.4rem 0.8rem;
    }

    .navbar a {
        font-size: 1.3rem;
    }
}
